<ion-view view-title="Welcome" cache-view="true">
  <ion-content class="padding">
    
    	<h4>PLEASE CHOOSE THE SENSORS</h4>
    <div class="list card">

	  <a href="#/tab/pulse" class="item item-icon-left">
	    <i class="icon ion-ios-pulse-strong"></i>
	    HEART PULSE
	  </a>	
	
	 <a href="#/tab/rain" class="item item-icon-left">
	    <i class="icon ion-ios-rainy"></i>
	   	 RAIN DROP
	  </a>
	  
	<a href="#/tab/temparature" class="item item-icon-left">
	    <i class="icon ion-ios-medical"></i>
	    TEMPERATURE
	  </a>
	 
	  
	</div>
	
	    
  </ion-content>
</ion-view>
