<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-stable tabs-icon-top">

	<!-- Welcome Tab -->
  <ion-tab title="Welcome" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/welcome">
    <ion-nav-view name="tab-welcome"></ion-nav-view>
  </ion-tab>
  
  <!-- Pulse Tab -->
  <ion-tab title="Pulse" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/pulse">
    <ion-nav-view name="tab-pulse"></ion-nav-view>
  </ion-tab>
  
   <!-- Rain Density Tab -->
  <ion-tab title="Rain Drop" icon-off="ion-ios-rainy-outline" icon-on="ion-ios-rainy" href="#/tab/rain">
    <ion-nav-view name="tab-rain"></ion-nav-view>
  </ion-tab>
  
  <!-- Temparature Tab -->
  <ion-tab title="Temparature" icon-off="ion-ios-medical-outline" icon-on="ion-ios-medical" href="#/tab/temparature">
    <ion-nav-view name="tab-temparature"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
