/* Empty. Add your own CSS if you like */

.sensor-number
{
font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:2pt;font-size:60px;font-family:helvetica, sans-serif;line-height:1;text-align: center;
}